.tvshowItem {
    max-width: 800px;
    background-color: #CCC;
}

.tvshowItem_image {
	flex-grow: 1;
}

.tvshowItem_description {
	flex-grow: 2;
}

img {
    max-width: 250px;
}

.button {
    border: 0;
    padding: 10px 20px;
    background-color: #4a76a8;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    box-shadow: 0px 0px 3px #999;
    text-decoration: none;
}

.button:hover {
    background-color: #85b7e9;
}