.tvshowItem {
    background-color: blueviolet;
    display: flex;
    max-width: 400px;
}

.tvshowItem_image {
	flex-grow: 1;
}

.tvshowItem_description {
	flex-grow: 2;
}

img {
    max-width: 250px;
}